net: "OUTPUT_DIR/train_test.prototxt"
test_iter: 10
test_interval: 10
base_lr: 0.01
lr_policy: "step"
gamma: 0.1
display: 20
max_iter: 50000
momentum: 0.9
weight_decay: 0.005
stepsize: 100000
snapshot: 10000
snapshot_prefix: "caffe_train"
solver_mode: GPU
